body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #0b0d11;
    border-bottom: 1px solid gray;
}

.header img {
    width: 50px;
    height: auto;
    margin: 5px;
}

.heroimg {
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.herobackimg {
    position: absolute; 
    left:0;
    right:0;
    width:550px;
    margin:auto;
    z-index: -99999999;
}

.hero {
    width: 100%;
    margin-top: 200px;
    position: absolute;
}

/* From cssbuttons.io */
button {
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.body {
    background-color: #0b0d11;
    width: 100%;
    margin-top: 30%;
    height: 500px;
    border-top: 1px solid gray;
}

.footer {
    bottom: 0;
    background-color: black;
    height: 30px;
}

.footer .logof {
    width: 20px;
    height: auto;
    margin: 5px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none; 
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    font-family: "Lato", sans-serif;
  }
  
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2221;
    top: 0;
    left: 0;
    background-color: #111;
   
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .dropdown-container ul { 
    position: fixed; 
    margin-left:192px;     
    background-color: #111; 
    list-style: none; 
    margin-top: -36px;
    padding: 0;
  }
  
  .dropdown-container ul {
    width: 150px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 77, 0); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: green; 
  }
